body {
    position: relative;
}

.img-box {
    padding: 0;
    margin: auto;
    overflow: hidden;
}

img {
    width: 100%;
}

ul {
    margin: 12px auto;
    background-color: #333;
    padding: 20px 20px;
   
}

li {
    color: white;
    display: inline;
    text-align: center;
    padding: 200px 20px;
}

a {
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
h1{
    text-align: center;
}

h4{
    text-align: center;
    text-decoration: underline;
}